<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <h1>Hola mi nombre es {{nombre_persona}} {{apellido}} mis juegos son: </h1>
   
    {% if nombre_persona == "Jordan" %}
         <p>Si el nombre que ingresaste es del programador</p>
        {% else %}
          <p>NO, el nombre que ingresaste no es el del programador</p>
    {% endif %}


   <ul>

        
        <br>
        {% if list_games %}

            {% for game in list_games %}
          
                <li><p> {{game}}<br> </p> </li>
            {% endfor%}
        {% else %}
            <p>NO hay elementos que mostrar</p>
        {% endif %}
    </ul>
</body>
</html>